.row_form{
	margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.h_all{
	height: 100%;
}
.w_all{
	width: 100%;
}
.downForm{
	margin-top: 60%;
}
.color_text{
	color: #5eceaa;
}
.bck_btn_color{
	background-color: #ffffff;
}
.w_70{
	width: 70%;
}
.h_70{
	height: 70%;
}
.w_30{
	width: 30%;
}
.h_30{
	height: 30%;
}.w_max{
	width: max-content;
}
.valing_wrapper{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.secondary-content {
    float: right;
    color: #f44336;